body {
    background: rgba(224,224,224,0.5);

}

#svg-main, #svg-hr, #svg-rr, #svg-sp, #svg-dp, #svg-main-1, #svg-main-2, #svg-main-3, #svg-main-4{
    width: 100%;
    height: 100%;
}
div#root {
    max-width: 1500px;
}
.searchDiv {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;

}
.searchDiv span {
    width: 30px;
    border-left: 2px;
    border-color: black;
    text-align: center;
}
.searchDiv span .fa {
    margin-top: 8px;
}
.search_patient {
    background: white;
    border: none;
    outline: none;
    width: 90%;
}

.table_patient {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#allPatientsDiv {
    display: flex;
    flex-direction: column;
}

.table_visit_patient {
    border-radius: 5px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.table_data_visit {
    border-radius: 5px;
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.div_scatterPlot {
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.div_filter {
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.div_timelineChart {
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}
.div_graph {
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}
.div_heatmap {
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}
.personal_info{
    border-radius: 5px;
    background: white;
}

.div_dateFilter {
    border-radius: 5px;
    background: white;
}

.stats {
    justify-content: space-around;
    background-color: white;
    color: black;
}
.titleSpan {
    font-size: 10px;
    color: #a1aab9;
}

#patientName {
    text-align: center;
    margin-top: 5px;
    font-family: 'Poppins';
    margin-bottom: 3px !important;
}
.div-table {
    width: 600px;
}
tbody {
    overflow: auto;
}
tbody td, th, tr {
    white-space: nowrap;
}
.table-responsive {
    width: 100%;
    border-radius: 5px;
}
.btn-primary{
    color: black !important;
    background-color: transparent !important;
    border-color: #0000001f !important;
    font-size: 10px;
}
.btn-primary:hover {
    background-color: #0000001f !important;
}
tbody, td, tfoot, th, thead, tr {

    border-style: solid;
    border-width: 0;
}
.table>thead>tr>th {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    background: white;
    color: #000;
    font-weight: 400;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dee2e6;
}
.table>tbody>tr>td {
    margin-top: 15px;
    margin-bottom: 15px;
}

.h4_titleDiv {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
.firstDiv {
    display: flex;
    flex-direction: row;
}
 #titleGraph, #titleFilter {
    width: 100%;
    font-size: 16px;
}
#titleGraph {
    display: flex;
    flex-direction: row;
}
#titleNote{
    border-radius: 5px;
}

span.multiselect-native-select {
    margin-left: 10px;
    font-size: 10px;
}
.line-path{
    fill: none;
    stroke-width: 2px;
}
.multiselect-container {
    max-height: 200px;
    overflow: auto;
}

.text-legend {
    font-size: 10px;
}

.navbar {
    width: 103%;
}

@media all and (max-width: 970px) {

    .table-responsive {
        width: 99%;
    }
}
#page-content-wrapper {
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: block !important;
    }
}
@media all and (max-width: 550px) {

    .table-responsive {
        width: 99%;
    }

    #patientName {
        font-size: 5vw;
    }
}
@media all and (max-width: 1000px) {
    #div-content {
        flex-direction: column;
    }
}
#div-content {
    display: flex;
    flex-direction: row;
}
.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

#submenu1 .layouts-div {
    border-radius: 0px;
}

#sidebar-container .list-group a {

    height: 50px;
    color: black;
}
#layout-div {
    overflow: auto;
    max-height: 300px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #dee2e6;
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 70px;
    text-align: center;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator-title {
    border-radius: 0px;
    background-color: #176a8a;
    height: 35px;
}
.sidebar-separator {
    border-radius: 0px;
    background-color: #176a8a;
    height: 25px;
}
.logo-separator {
    background-color: #176a8a;
    height: 60px;
}
#menu {
    border-radius: 0px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
    border-raius: 0px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

div.submenu1 button {
    text-align: center;
    font-size: 10px;
    margin: 3px;
    outline: none;
}

a.layouts-div.list-group-item {
    display: flex;
    flex-direction: column;
}

#btnDelete {
    background-color: #c81b1b;
}

#newName {
    margin-left: 10px;
}
.btn-collShow {
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    background-color: white;
    outline: none;
    height: 30px;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: rgba(0,0,0,0.2);
}

*::-webkit-scrollbar-track {
    border-radius: 0.25rem;
    background: rgba(0,0,0,0.1);
}

.line-path-vs-area {
    fill:red;
    fill-opacity: 0.1;
}
.line-path-vs{
    fill:none;
    stroke-width: 1px;
}
.line-path{
    fill:none;
    stroke-width: 1px;
}
.tick line {
    stroke: #C0C0BB;
}
.tooltip-svg {
    opacity: 1;
    fill: white;
    stroke: #cac2c2;
    line-height: 1.4em;
    border: 1px solid #dddddd;
    z-index: 1070;
    transition: all 0.1s ease-out;
    pointer-events: none;
}

.tooltip-marker, .tooltip-date, .tooltip-value {
    /*margin-bottom: 0.2em;*/
    font-weight: 500;
    font-size: 0.6em;
    line-height: 1.4em;
}
.tooltip-value, .tooltip-date {
    font-weight: 800;
}

.vis-timeline {
    border-style: none !important;
}

#titleNote {
    overflow: hidden;
}

.vis-item.vis-range {
    min-width: 8px !important;
}
.vis-tooltip {
    position: fixed !important;
    z-index: 10000 !important;
    font-family: 'Poppins' !important;
    background-color: white !important;
    border: 2px solid #dddddd !important;
}


.date_row {
    display: flex;
    flex-direction: column;

}
.date_row [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
.date_row [type="date"]::-webkit-inner-spin-button {
    display: none;
}
.date_row [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date_row input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 95%;
    margin: 5px;
}
#heatmapChart, #patientInfo, #scatterPlot {
    overflow: hidden;
}
#heatmapChart > .marks, #scatterPlotChart > .marks {
    width: 100% !important;
    height: 100% !important;
}

#createHeatmap {
    margin-left: 10px;
    vertical-align: middle;
}
span.labelSwitch {
    font-size: 14px;
    margin-right: 5px;
}
.div_switch {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}

#allDataInformation {
    height: 100%;
}

.form-check {
    margin-bottom: 0 !important;
}

#tableResponsiveAnalysis {
    height: 90%;
}

#selectTypeInfo, #selectCategorySP {
    margin-left: 10px;
    margin-bottom: 2px;
    width: 130px;
}

.selectType {
    display: flex;
    flex-direction: row;
}

#menuPatientInfo {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-top: 1px !important;
    margin-left: 1px !important;
}

.informationTable .p-2 {
    padding: 0 !important;
}
.nav-tabs .nav-link {
    color: gray;
    border: 0 !important;
    border-bottom: 0 solid grey;
}

.nav-tabs .nav-link:hover {
    border: 0;
    border-bottom: 0 solid grey;
}

.nav-tabs .nav-link.active {
    color: #000000;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #47474e !important;
}

.nav-tabs .nav-item {
    margin-bottom: 0 !important;
}

.tab-pane {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.tab-content {
    width: 100%;
    height: 75%;
}

.listInfoPatient {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    padding: 3px 0 0 12px !important;
    display: block !important;
    margin-bottom: 0 !important;
}
.heading-itemInfo {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}

.listInfoPatient:last-child {
    margin-bottom: 10px !important;
}

#add-healthRecord {
    margin-left: 10px;
    margin-bottom: 2px;
}

#tableAnalysis {
    display: flex;
    flex-direction: column;
    height: 90% !important;
}

#btnFilterDate {
    margin-top: 10px;
    width: 80px;
    align-self: center;
}

#btnLogout {
    width: 45px !important;
    margin-left: auto;
    color: black;
    height: 35px;
    border-color: #0000001f;
    background-color: transparent;
}

#doctorInformation {
    padding: 17px;
    display: flex;
    flex-direction: column;
}

#formBtnLogout {
    margin-top: 10px;
}

#patientInfoIMG {
    display: flex;
    flex-direction: row;
}
#otherInfo {
    width: 100%;
    margin-top: 10px;
}
#patientAvatar {
    margin: 10px;
}
#patientImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
}