
.main_div {
    background: rgba(224,224,224,0.5);
    display: flex;
    flex-direction: row;
}

.sx_div {
    margin-left: 3%;
    width: 46%;
    max-width: 700px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
}

.dx_div {
    margin-right: 2%;
    width: 46%;
    max-width: 700px;
    max-height: 800px;

    display: flex;
    flex-direction: column;
}

.searchDiv {
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    height: 30px;
    width: 95%;
    margin: 2% 1% 1% 2%;
}
.searchDiv span {
    width: 30px;
    border-left: 2px;
    border-color: black;
    text-align: center;
}
.searchDiv span .fa {
    margin-top: 8px;
}
.search_patient {
    background: white;
    border: none;
    outline: none;
    width: 90%;
}

.table_patient {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    height: 280px;
    width: 95%;
    margin: 1% 1% 1% 2%;
}

.table_visit_patient {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    height: 200px;
    width: 95%;
    margin: 1% 1% 1% 2%;
}

.visit_data_div {

    height: 188px;
    width: 95%;
    margin: 1% 1% 2% 2%;
    display: flex;
    flex-direction: row;
}

.table_data_visit {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    width: 50%;
    margin: 0% 1% 0% 0%;
}
.div_note_visit {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    width: 50%;
    margin: 0% 0% 0% 1%;
}


.patient_info {
    width: 96%;
    height: 140px;
    margin: 2% 2% 1% 0%;
    display: flex;
    flex-direction: row;

}
.div_filter {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    width: 96%;
    height: 170px;
    margin: 1% 2% 1% 0%;
}

.div_graph {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    width: 96%;
    height: 400px;
    margin: 1% 2% 2% 0%;
}

.personal_info{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,.5);
    background: white;
    width: 50%;
    margin: 0% 1% 0% 0%;
}

.helth_info{
    width: 50%;
    margin: 0% 0% 0% 1%;
    display: flex;
    flex-direction: column;
}
.first_row, .second_row {
    display: flex;
    flex-direction: row;
    width: 100%;

}
.avg_info {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.7), 0 15px 40px rgba(166,173,201,0.5);
    background: white;
    width: 60%;
    max-width: 200px;
    height: 40px;
    margin: 1%;
}

.inputDate {
    width: 50%;
}
.date_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;

}
.date_row [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
.date_row [type="date"]::-webkit-inner-spin-button {
    display: none;
}
.date_row [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date_row input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 100%;
}
.date_row #startDate {
    margin-right: 1%;
}
.date_row #endDate {
    margin-left: 1%;
}

tbody {
    overflow: auto;
}
tbody td, th, tr {
    white-space: nowrap;
}
.div-table {
    width: 600px;
}

.table-responsive {
    width: 99%;
    height: 100%;
}
.btn-primary{
    color: #f8f9fa;
    background-color: #0a58ca;
    border-color: #288b5d00;
    font-size: 10px;
}
@media all and (max-width: 970px) {

    .main_div {
        display: flex;
        flex-direction: column-reverse;
    }

    .sx_div {

        margin: 0% 1% 1% 0%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
    }

    .dx_div {

        margin: 2% 0% 0% 2%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
    }


    .div_graph, .div_filter {
        width: 95%;
    }

    .inputDate {
        width: 49%;
    }


}

@media all and (max-width: 550px) {

    .table-responsive {
        width: 99%;
    }
    .dx_div, .sx_div {
        margin: 0;
    }
    .visit_data_div {
        display: flex;
        flex-direction: column;
    }
    .div_filter, .div_graph {
        margin: 1%;
    }

    .table_data_visit {
        height: 50%;
        width: 100%;
        max-width: 600px;

    }
    .div_note_visit {
        height: 50%;
        width: 100%;
        max-width: 600px;
        margin: 1% 0% 1% 0%;

    }
    .patient_info {
        width: 96%;
        height: 350px;
        margin: 1% 1% 1% 1%;
        display: flex;
        flex-direction: column;

    }

    .searchDiv {
        margin: 2% 1% 1% 1%;
    }

    .table_patient {
        margin: 1%;
    }

    .table_visit_patient {
        margin: 1%;
    }

    .visit_data_div {
        margin: 1%;
    }

    .personal_info{
        width: 100%;
        max-width: 600px;
        height: 50%;
        margin-bottom: 2%;
    }

    .helth_info{
        width: 100%;
        max-width: 600px;
        margin: 0% 1% 0% 0%;
        display: flex;
        flex-direction: column;
    }
    .avg_info {
        width: 100%;
        max-width: 600px;
    }
    .inputDate {
        width: 50%;
    }

}
